@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --main-colour-pink :#ED217C;
    --secondary-colour-pink: #ff70a2;
    --main-colour-blue:#044b7f;
    --secondary-colour-blue: #6ccff6;
    --background-colour: #FEF9FF;
    --secondary-background-colour:#171738;
    --white:#FFFFFF;
    --black:#161C27;
    --dark:#2B2D42;
    --muted:#364156;
    --success:#41E2BA;
    --warning:#F7E733;
    --danger: #ED1C24;
    --card-border-radius:2rem;
    --border-raduis-main:0.4rem;
    --border-radius-sec:1.2rem;

    --card-padding: 1.8rem;
    --padding-main:1.2rem;

    --main-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --secondary-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    --transition-main:transform 5s ease-out;
    --transition-sec:transform 3s ease-in;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    overflow: hidden;
    color: var(--black);
    background-color: var(--background-colour);
    position: relative;
}
a{
    color: var(--black);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: .87rem;
}

small{
    font-size: 0.76rem;
}
ul{
    list-style: none;
}
p{
    color: var(--black);
}

.form-body{
    background-color: var(--main-colour-blue);
    text-align: center;
    margin: 250px auto;
    padding: 2rem 3rem;
    width: fit-content; 
    opacity: .7;
    border-radius: var(--card-border-radius);
    color: var(--white);
}
.form-group h3{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.2rem ;
}

.form-group .form-input input{
    border-radius: var(--card-border-radius);
    padding: .5rem 1.4rem;
    width: 20rem;
    height: 2rem;
    margin: 1rem;
    text-align: start;
}
.form-group .form-input button{
    color: var(--white);
    font-size: 1.2rem;
    background-color: var(--main-colour-pink);
    padding: .6rem 1rem;
    margin: 1rem ;
}

.form-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-links .back a,
.form-links .signUp a{
    display: block;
    color: var(--white);
    transition: var(--transition-main);
}
.form-links .material-symbols-outlined{
    font-size: 1.3rem;
    vertical-align:sub;
    padding-top: 0.5rem;
    font-weight: 600;
}
.form-group .check-input{
    text-align: start;
    margin-left:1.6rem ;
    
}
.form-group .check-input span{
    font-size: .8rem;
    font-weight: 400;
}
.form-group .check-input input{
    margin-right: 6px;
    outline: none;
    border-radius:100% ;
    vertical-align: sub;
}
.form-links a:hover .material-symbols-outlined{
    color: var(--main-colour-pink);
}
